<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button autoHide="true" (click)="regresarBTN()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title>Registrar Invitado </ion-title>
   
  </ion-toolbar>

</ion-header>



<ion-content>
  <ion-item>
    <ion-label position="floating">Cedula</ion-label>
    <ion-input id="txtCedula"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input id="txtNombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input id="txtApellido" class="ion-text-capitalize"></ion-input>
  </ion-item>
 

  <ion-button shape="round" color="success" expand="full" (click)="GuardarEstudiante()" >Guardar</ion-button>
</ion-content>
